<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>react thingie, super duper</title>
        <style>
            html{width: 100%; height: 100%; border: 0; margin: 0;}
            body{width: 100%; height: 100%; background: pink; margin: 0;}
            #app{display: flex; background: paleturquoise; border: 0; height: 100%; width: 100%; justify-content:center;}            
        </style>
    </head>
    <body>
        <div id="app"></div>        
    </body>
</html>